body {
    background-color: #eee2dc;

}
#pg_body {
    margin: 3%;
    padding: 3%;
    padding-top: 1%;
    background-color: white;
    font-family: 'Inter';
}

#pg_title {
    text-align: center;
    color: #0d2b4b;
}

.ques_sug {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  /* background-color: black; */
  padding: 5px;
}

.ques_sug > div {
    padding: 10px;
    border-style: dashed;
    background-color: white;
}

#supp_resources{
    grid-column-start: 1;
    grid-column-end: 3;
}

#proc_img {
    max-width: 100%;
}

ul > li {
    margin-top: 5pt;
}
ol > li {
    margin-top: 5pt;
}

blockquote {
    background: #ffffff;
    border-left: 10px solid #123C69;
    margin: 5px;
    padding: 5px;
}

h2 {
    color: #0d2b4b;
}
h3 {
    color: #123C69;
}