body {
    background-color: #eee2dc;

}
#pg_body {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 3%;
    padding-top: 1%;
    background-color: white;
    font-family: 'Inter';
}

#pg_title {
    text-align: center;
    color: #0d2b4b;
    font-size: 35pt;
}


.ques_sug {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  /* background-color: black; */
  padding: 5px;
}

.ques_sug > div {
    padding: 10px;
    border-style: groove;
    /* background-color: white; */
}

.supp_resources{
    grid-column-start: 1;
    grid-column-end: 3;
}

#proc_img {
    max-width: 100%;
}

#sign_lang_glove {
    max-width: 50%;
}

#stair_climbing{
    max-width: 50%;
}
#citation{
    color: gray; 
    font-size: 10px;
}


ul > li {
    margin-top: 5pt;
}
ol > li {
    margin-top: 5pt;
}

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */

blockquote {
    background: #ffffff;
    border-left: 10px solid #123C69;
    margin: 30px;
    padding: 5px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

h2 {
    margin-bottom: 4pt;
    font-size: 13pt;
    margin-top: 25pt;
}

#sec_title {
    color: #0d2b4b;
    font-size: 20pt;
}
h3 {
    color: #123C69;
    font-size: 18pt;
    margin-top: 35pt;
    margin-bottom: 5pt;
}

h4 {
    margin-top: 0pt;
    /* margin-bottom: 4pt; */
    font-size: 13pt;
}

summary {
    border: 1px dashed rgba(0, 0, 0, 0);
}

summary:hover {
    cursor: pointer;
}

summary:hover {
    border: 1px dashed black;
}

